<% include ./inc/header %>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header text-center">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
<% include ./inc/footer %>
    