    </div> 
    <script>
        /*$(document).ready(function(){
            $.getJSON('/student', function(res){
                var content="<ul>"
                $.each(res,function(i,s){
                    content +="<li>" + s.name + "</li>";
                });
                content += "</ul>";
                $("#student").html(content);
            });
        });*/
    </script>
</body>
</html>